<header class="header">
  <div class="header_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <%- include('header_logo') %>

            <div class="header_nav_container ml-auto">
              <nav class="main_nav">
                <ul>
                  <li class="<%= currentPage === 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
                  <li class="<%= currentPage === 'priest' ? 'active' : '' %>"><a href="/priest">Priests</a></li>
                  <li class="<%= currentPage === 'ward' ? 'active' : '' %>"><a href="/ward">Wards</a></li>
                  <li class="<%= currentPage === 'associations' ? 'active' : '' %>"><a href="/associations">Associations</a></li>
                  <li class="<%= currentPage === 'commission' ? 'active' : '' %>"><a href="/commission">Commissions</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true">
                      Services
                      <span class="dropdown-arrow">▼</span>
                    </a>
                    <div class="dropdown-content" aria-labelledby="servicesDropdown">
                      <a href="#" onclick="handleServiceClick('mass_schedule')" role="menuitem">Mass Schedule</a>
                      <a href="#" onclick="handleServiceClick('daily_reading')" role="menuitem">Daily Reading</a>
                      <a href="#" onclick="handleServiceClick('spotlight')" role="menuitem">Spotlight</a>
                      <a href="/parish_council" role="menuitem">Parish Council</a>
                      <a href="/gallery" role="menuitem">Gallery</a>
                      <a href="/magazine" role="menuitem">Magazine</a>
                    </div>
                  </li>
                  <li class="<%= currentPage === 'blog' ? 'active' : '' %>"><a href="/blog">Blog</a></li>
                  <li class="<%= currentPage === 'institution' ? 'active' : '' %>"><a href="/institution">Institution</a></li>
                  <li class="<%= currentPage === 'about_us' ? 'active' : '' %>"><a href="/about_us">About us</a></li>
                </ul>
              </nav>
            </div>
            <div class="search" role="button" tabindex="0" aria-label="Search">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Capa_1"
                x="0px"
                y="0px"
                viewBox="0 0 56.966 56.966"
                style="enable-background: new 0 0 56.966 56.966"
                xml:space="preserve"
                width="13px"
                height="14px"
              >
                <path
                  class="search_path"
                  d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                  fill="#353535"
                />
              </svg>
            </div>
            <div class="hamburger ml-auto" role="button" tabindex="0" aria-label="Menu">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_search_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
              <form id="searchForm" class="header_search_form">
                <input
                  type="search"
                  id="searchInput"
                  class="search_input"
                  placeholder="Search"
                  required="required"
                  aria-label="Search input"
                />
                <button
                  type="submit"
                  class="header_search_button d-flex flex-column align-items-center justify-content-center"
                  aria-label="Submit search"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1"
                    id="Capa_2"
                    x="0px"
                    y="0px"
                    viewBox="0 0 56.966 56.966"
                    style="enable-background: new 0 0 56.966 56.966"
                    xml:space="preserve"
                    width="20px"
                    height="20px"
                  >
                    <path
                      class="search_path"
                      d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                      fill="#353535"
                    />
                  </svg>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="searchModal" class="modal" role="dialog" aria-labelledby="searchModalTitle">
  <div class="modal-content">
    <span class="close" role="button" tabindex="0" aria-label="Close search results">&times;</span>
    <h2 id="searchModalTitle">Search Results</h2>
    <div id="searchLoader" class="search-loader" style="display: none;">
      <div class="skeleton-item"></div>
      <div class="skeleton-item"></div>
      <div class="skeleton-item"></div>
    </div>
    <div id="searchResults" role="region" aria-live="polite"></div>
  </div>
</div>

<div class="menu d-flex flex-column align-items-center justify-content-center">
  <div class="menu_content">
    <div class="logo-lg-1 d-flex flex-column align-items-center justify-content-center">
      <img src="images/logo-lg-1.png" alt="Holy Spirit Church Logo" />
    </div>
    <nav class="menu_nav">
      <ul>
        <li class="<%= currentPage === 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
        <li class="<%= currentPage === 'priest' ? 'active' : '' %>"><a href="/priest">Priests</a></li>
        <li class="<%= currentPage === 'ward' ? 'active' : '' %>"><a href="/ward">Wards</a></li>
        <li class="<%= currentPage === 'associations' ? 'active' : '' %>"><a href="/associations">Associations</a></li>
        <li class="<%= currentPage === 'commission' ? 'active' : '' %>"><a href="/commission">Commissions</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true">
            Services
            <span class="dropdown-arrow">▼</span>
          </a>
          <div class="dropdown-content" aria-labelledby="servicesDropdown">
            <a href="#" onclick="handleServiceClick('mass_schedule')" role="menuitem">Mass Schedule</a>
            <a href="#" onclick="handleServiceClick('daily_reading')" role="menuitem">Daily Reading</a>
            <a href="#" onclick="handleServiceClick('spotlight')" role="menuitem">Spotlight</a>
            <a href="/parish_council" role="menuitem">Parish Council</a>
            <a href="/gallery" role="menuitem">Gallery</a>
            <a href="/magazine" role="menuitem">Magazine</a>
          </div>
        </li>
        <li class="<%= currentPage === 'blog' ? 'active' : '' %>"><a href="/blog">Blog</a></li>
        <li class="<%= currentPage === 'institution' ? 'active' : '' %>"><a href="/institution">Institution</a></li>
        <li class="<%= currentPage === 'about_us' ? 'active' : '' %>"><a href="/about_us">About us</a></li>
      </ul>
    </nav>
  </div>
  <div class="menu_close" role="button" tabindex="0" aria-label="Close menu">
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
</div>

<div id="overlay" class="overlay" role="presentation"></div>

<script>
function handleServiceClick(service) {
  // Always redirect to index with service parameter
  window.location.href = '/?service=' + service;
}
</script>

<script src="/js/navigation.js"></script>
<script src="/js/search.js"></script>